@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}
<link rel="stylesheet" href="~/CSS/support.css" />

<h1>CONTACT US FOR SUPPORT</h1>
<div class="info">
    <div>
        <img class="product" src="~/Images/shining star.jpg" alt="Shining Star Picture">
    </div>
    <div class="context">
        <div class="h3">
            <p>
                Phone Number: 0901045128 <br>
                Contact Person: Ngọc Nhiệm <br>
                Working Hours: 07:00 - 21:30 <br>
                Address :<br />
                + Ho Chi Minh City: 234, Nam Kỳ Khởi Nghĩa, District 3<br />
                + Hanoi : 14A, Từ Liêm, Đống Đa<br />
                + Da Nang : 1601, Hàm Rồng, Hùng Vương
            </p>
        </div>
    </div>
</div>