.notice {
    min-height: 100vh;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: red;
    font-weight: 700;
}

.box-course {
    display: flex;
    justify-content: center;
    align-items: center;
}


.course-pic {
    width: 300px;
    height: 300px;
}

.course {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: beige;
}

.info {
    font-family : 'Sans Serif Collection';
    font-weight: 500;
    padding: 0px 15px;
}