@{
    ViewBag.Title = "Course_Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/course_menu.css" />

<h2> WELCOME TO YOUR COURSE </h2>
<a href="~/Home/Courses" style="text-decoration: none; border: 2px solid black; padding: 10px; margin: 50px">BACK TO COURSES</a>
<div class="menu">
  <div class="grid">
    <div class="menu-item">
        <a href="~/Home/Attendance" style="text-decoration: none; color:black">
            <img class="logo" src="~/Images/attendance-logo.png" alt="" /><br />
            <span style="font-weight: 600;"> ATTENDANCE </span>
        </a>
    </div>

    <div class="menu-item">
        <a href="~/Home/Schedule" style="text-decoration: none; color:black">
            <img class="logo" src="~/Images/schedule-logo.png" alt="" /><br />
            <span style="font-weight: 600;"> SCHEDULE </span>
        </a>
    </div>

    <div class="menu-item">
        <a href="~/Home/Homework" style="text-decoration: none; color:black">
            <img class="logo" src="~/Images/homework-logo.png" alt="" /><br />
            <span style="font-weight: 600;"> HOMEWORK </span>
        </a>
    </div>

    <div class="menu-item">
        <a href="~/Home/Grade" style="text-decoration: none; color:black">
            <img class="logo" src="~/Images/grade-logo.png" alt="" /><br />
            <span style="font-weight: 600;"> GRADE </span>
        </a>
    </div>
  </div>
</div>

