@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/CSS/information.css" />

<h1>THÔNG TIN VỀ CHÚNG TÔI</h1>
<hr />
<div class="info-1">
    <div class="contain">
        <div class="info">
            <div class="title">
                Create a bright future for your <span class="strong">children</span> right now
            </div>
            <br>
            <div class="text">
                Với nhiều khóa học phù hợp cho trẻ em ở mọi lứa tuổi và đội ngũ giáo viên nước ngoài có trình độ cao. Chúng tôi tin rằng
                sẽ mang lại được cho con bạn một nền tảng tiếng Anh vững chắc để trở thành một công dân toàn cầu sau này.
            </div>
            <br><br>
            <div class="numbers">
                <div class="stats1">17+</div>
                <div class="stats1">314</div>
                <div class="stats1">1.2M+</div>
            </div>
            <div class="numbers-info">
                <div class="stats2">CHI NHÁNH</div>
                <div class="stats2">NHÂN VIÊN</div>
                <div class="stats2">HỌC VIÊN</div>
            </div>
        </div>
        <div class="picture">
            <img class="work-photo" src="~/Images/work-picture.jpg" alt="Work picture">
        </div>
    </div>
</div>
<div class="info-1">
    <div class="contain">
        <div class="info">
            <div class="title">
               Variety of <span class="strong">courses</span> that are suitable for all ages
            </div>
            <br>
            <div class="text">
                Các khóa học của chúng tôi được thiết kế và cố vấn bới các chuyên gia giáo dục uy tín đến từ Mỹ, Canada và Úc. 
            </div>
            <br><br>
            <div class="numbers">
                <div class="stats1">3 to 6</div>
                <div class="stats1">7 to 12</div>
                <div class="stats1">13 to 17</div>
            </div>
            <div class="numbers-info">
                <div class="stats2">Blue Star</div>
                <div class="stats2">Yellow Star</div>
                <div class="stats2">Red Star</div>
            </div>
        </div>
        <div class="picture2">
            <img class="work-photo" src="~/Images/course.jpg" alt="Course picture">
        </div>
    </div>
</div>
<div class="info-1">
    <div class="contain">
        <div class="info">
            <div class="title">
               Available in every big city in <span class="strong">Vietnam</span> and plan to expand globally in the future.
            </div>
            <br>
            <div class="text">
                Với hơn 17 chi nhánh trên toàn quốc, chúng tôi cam kết cung cấp dịch vụ với chất lượng tốt nhất ở tât cả các chi nhánh
                của mình.
            </div>
            <br><br>
                <div class="numbers">
                    <div class="stats1">9</div>
                    <div class="stats1">6</div>
                    <div class="stats1">2</div>
                </div>
                <div class="numbers-info">
                    <div class="stats2">TP. HCM</div>
                    <div class="stats2">Hà Nội</div>
                    <div class="stats2">Đà Nẵng</div>
                </div>
        </div>
        <div class="picture3">
            <img class="work-photo" src="~/Images/company.jpg" alt="Company picture">
        </div>
    </div>
</div>