@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/CSS/support.css" />

<h1>LIÊN LẠC VỚI CHÚNG TÔI ĐỂ ĐƯỢC HỖ TRỢ</h1>
<div class="info">
    <div>
        <img class="product" src="~/Images/shining star.jpg" alt="Shining Star Picture">
    </div>
    <div class="context">
        <div class="h3">
            <p>
                Số Điện Thoại : 0901045128 <br><br>
                Phụ Trách : Ngọc Nhiệm <br><br>
                Giờ Làm Việc : 07:00 - 21:30 <br><br>
                Địa chỉ :<br />
                + TP.HCM : 234, Nam Kỳ Khởi Nghĩa, Quận 3<br />
                + Hà Nội : 14A, Từ Liêm, Đống Đa<br />
                + Đà Nẵng : 1601, Hàm Rồng, Hùng Vương
            </p>
        </div>
    </div>
</div>
